body {
    background-color: #0e1111;
}

#title-header {
    text-align: center;
    color: #ffffff;
}

.center {
    text-align: center;
    padding: 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }

.hidden {
    display: none;
}

button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
}
